#custom-height {
  height: 250px;
}

ol {
  list-style: none;
}

li {
  text-align: left;
}

/* DESKTOP */

@media screen and (min-width: 1200px) {
  .news {
    color: black;
  }
}

/* TABLETS */

@media screen and (max-width: 1200px) {
  .news {
    color: blue;
  }
  .flex {
    flex-direction: column-reverse;
    align-content: center;
    overflow-y: hidden;
    flex-wrap: nowrap;
    width: 400px;
  }
  #response-height {
    height: 100px;
  }
  ol {
    margin: 0 50px 0 0;
    padding: 0;
  }
  #date-width{
    padding: 0;
  }
  #text-width{
    padding: 0;
  }

}

/* LARGE CELLPHONES */
@media screen and (max-width: 600px) {
  .news {
    color: orange;
  }
  .flex {
    flex-direction: column-reverse;
    align-content: center;
    flex-wrap: nowrap;
    width: 120%;
  }
  .MuiGrid-container {
    flex-wrap: nowrap;
  }
  .makeStyles-root-18 {
    height: fit-content;
  }
  ol {
    margin: 0 50px 0 0;
    padding: 0;
  }
  #date-width{
    padding: 0;
  }
  #text-width{
    padding: 0;
  }
}

/* SMALL CELLPHONES */

@media screen and (max-width: 465px) {
  .news {
    color: green;
  }
  .flex {
    flex-direction: column-reverse;
    align-content: center;
    flex-wrap: nowrap;
    width: 120%;
  }
  .MuiGrid-container {
    flex-wrap: nowrap;
  }
  .makeStyles-root-18 {
    height: fit-content;
  }
  ol {
    margin: 0 50px 0 -50px;
    padding: 0;
  }
  #date-width{
    padding: 0;
  }
  #text-width{
    padding: 0;
    max-width: 240px;
  }
  /* .NYT {
    height: 70px;
    width: 150px;
  } */
}
