ol {
    list-style: none;
}

li {
    text-align: left;
}

/* DESKTOP */

@media screen and (min-width: 1200px) {
    .news {
        color: black;
    }
}

/* TABLETS */

@media screen and (max-width: 1200px) {
    .news {
        color: blue;
    } 
    .flex {
        flex-direction: column-reverse;
        align-content: center;
        overflow-y: hidden;
    } 
}

/* LARGE CELLPHONES */
@media screen and (max-width: 600px) {
    .news {
        color: orange;
    }
    .flex {
        flex-direction: column-reverse;
        align-content: center;
    }
}

/* SMALL CELLPHONES */

@media screen and (max-width: 465px) {
    .news {
        color: green;
    }
    .flex {
        flex-direction: column-reverse;
        align-content: center;
    }
}