/* DESKTOPS */

circle:nth-child(odd) {
    fill: red;
    r: 7.5;
}


circle:nth-child(even) {
    fill: blue;
    r: 7.5;
}

rect {
    fill: rgb(247,243,227);
}

g rect {
    fill: #2E282A;
}

/* hides first child */
/* circle:nth-child(1){
    fill: rgba(255, 255, 255, 0);
    cx: 200vw;
} */

text:nth-child(odd){
    font-weight: bold;
}


@media screen and (min-width: 1200px) {
    .graph {
        color: black;
    }
}

/* TABLETS */

@media screen and (max-width: 1200px) {
    .graph {
        color: blue;
    }
}

/* LARGE CELLPHONES */

@media screen and (max-width: 600px) {
    .graph {
        color: orange;
    }
}

/* SMALL CELLPHONES */

@media screen and (max-width: 465px) {
    .graph {
        color: green;
    }
}

.graph {
    background-color: blue;
}