/* DESKTOP */

.main-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(247,247,247);
}

.card {
    background-color: white;
    align-self: center;
    height: 20vh;
    width: 30vw;
    border: 1px solid rgba(0, 0, 0, 0.313);
    border-radius: 5px;
    box-shadow: 0 1px 5px gray;
}

.welcome h2 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.354);
}

form {
    padding-top: 15px;
}

.welcome {
    position: absolute;
    top: 30vh;
}

input {
    height: 4vh;
    width: 28vw;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.313);
 }

input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.514);
}

.submit-btn {
    height: 5vh;
    width: 28.6vw;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.313);
    cursor: pointer;
}

div i {
    position: absolute;
    margin: 6px 0 0 -25px;
    color: rgb(108, 108, 108);
}

.password {
    padding: 1vh 0;
}

.register {
    border: 1px solid rgba(0, 0, 0, 0.313);
    margin: 4vh 0 0 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px gray;

}

.register a {
    color: black;
    text-decoration: none;
    padding: 0 0 0 .25vw;
}

.register a:hover {
    color: grey;
}

/* TABLETS */

@media screen and (max-width: 1200px) {
    .main-container {
        color: blue;
    }

    .card {
        min-width: 400px;
    }

    form input, button {
        min-width: 350px;
    }
}

/* LARGE CELLPHONES */

@media screen and (max-width: 600px) {
    .main-container {
        color: orange;
    }

    .card {
        min-width: 300px;
    }

    form input, button {
        min-width: 250px;
    }
}

/* SMALL CELLPHONES */

@media screen and (max-width: 425px) {
    .main-container {
        color: green;
    }
    
    .card {
        min-width: 265px;
    }

    form input, button {
        min-width: 200px;
    }
}
