/* DESKTOP */
/*!  COLOR PALETTE MOOLAH #60935D / #2E282A / #CD5334 / #EDB88B / #F7F3E3 */

.main-container {
  font-family: "Rubik", sans-serif;
  color: #2e282a;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f7f3e3;
  background-image: url(./moolah-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-card {
  justify-content: center;
  position: absolute;
  background-color: #2e282aac;
  top: 20vh;
  padding: 4vh 0 0 0;
  height: 50vh;
  width: 40vw;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 0px 3px 8px #000000;
}

.welcome {
  top: 30vh;
}

.welcome h2 {
  font-family: "Fredoka One", cursive;
  font-size: 4.5vh;
  color: #edb98bdd;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.847);
}

.welcome h5 {
  color: #edb98bdd;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.847);
  padding: 0 0 2vh 0;
}

.login-card {
  margin: 0 0 0 5vw;
  justify-content: center;
  align-self: center;
  height: 20vh;
  width: 30vw;
  border: 1px solid #2e282a;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #2e282a;
  background-color: #edb98bae;
}

form {
  padding-top: 15px;
}

input {
  height: 4vh;
  width: 28vw;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.313);
  text-indent: 0.5vw;
}

input:focus {
  outline: none;
  border: 1px solid #2e282a;
}

.submit-btn {
  font-weight: 500;
  height: 5vh;
  width: 28vw;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.313);
  cursor: pointer;
  background-color: #f7f3e3;
}

div i {
  position: absolute;
  margin: 6px 0 0 -25px;
  color: #2e282a;
}

.password {
  padding: 1vh 0;
}

.new-here {
  width: 30vw;
  border: 1px solid #2e282a;
  color: #2e282a;
  background-color: #f7f3e3;
  margin: 4vh 0 0 0;
  padding: 2vh 0 0 0;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #2e282a;
}

.register a {
  color: #2e282a;
  text-decoration: none;
  padding: 0 0 0 0.25vw;
}

.new-here a {
  color: #2e282a;
  text-decoration: none;
  padding: 0 0 0 0.5vw;
  font-weight: 500;
}

.new-here a:hover {
  color: grey;
}

/* TABLETS */

@media screen and (max-width: 1200px) {
  /* .main-container {
  } */

  .login-card {
    width: 70vw;
  }

  .login-card input {
    width: 60vw;
  }

  .welcome-card {
    width: 80vw;
  }

  .card {
    min-width: 400px;
  }

  form input,
  button {
    min-width: 350px;
  }
}

/* LARGE CELLPHONES */

@media screen and (max-width: 600px) {
  /* .main-container {
  } */

  .welcome-card {
    width: 80vw;
  }

  .welcome-card h2 {
    font-size: 4vh;
  }

  .card {
    min-width: 300px;
  }

  form input,
  button {
    min-width: 250px;
  }
}

/* SMALL CELLPHONES */

@media screen and (max-width: 425px) {
  /* .main-container {
  } */

  .welcome-card {
    width: 80vw;
  }

  .welcome-card h2 {
    font-size: 4vh;
  }

  .welcome-card h5 {
    font-size: 2.5vh;
  }

  .card {
    min-width: 265px;
  }

  .login-card {
    width: 70vw;
  }

  .login-card input {
    width: 60vw;
    height: 4.5vh;
  }

  div .register {
    font-size: 2vh;
    margin: 3.5vh 0 0 0;
    padding: 2vh 0 0 0;
    height: 6vh;
    width: 70vw;
  }

  .submit-btn {
    width: 60vw;
    font-size: 2vh;
  }

  form input,
  button {
    min-width: 200px;
  }
}
