
.tip-submit-btn {
    color: #fff;
    background-color: #60935D;
    border-color: #6c757d;
}

.tip-entry {
    width: 20vw;
}
.modal-dialog {
    padding: 20vh 0 0 0;
}
.modal-content {
    justify-content: center;
}

.modal-body {
    text-align: center;
}

.modal-footer {
   justify-content: center;
}

@media screen and (min-width: 1200px) {

}

/* TABLETS */

@media screen and (max-width: 1200px) {
   
}

/* LARGE CELLPHONES */

@media screen and (max-width: 600px) {

}

/* SMALL CELLPHONES */

@media screen and (max-width: 465px) {
    .tip-entry {
        margin: -2vh 0 0 1vw;
        height: 8vh;
        width: 70vw;
        text-indent: 2vw;
    }
}