.MuiAccordionDetails-root {
    padding: 8px 16px 16px 33.3%;

}

/* DESKTOPS */

@media screen and (min-width: 1200px) {
  .settings {
    color: black;
  }
}

/* TABLETS */

@media screen and (max-width: 1200px) {
  .settings {
    color: blue;
  }
}

/* LARGE CELLPHONES */

@media screen and (max-width: 600px) {
  .settings {
    color: orange;
  }
}

/* SMALL CELLPHONES */

@media screen and (max-width: 465px) {
  .settings {
    color: green;
  }
}



[data-theme="dark"] {
  --bg-color: #3F3F3F;
  --text-color: #fff;
}

.theme {
  font-family: sans-serif;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}