html {
    background: #F7F3E3;
}
.calendar-container {
    padding-top: 5vh;
    background: #F7F3E3;
}

.react-calendar {
    font-size: 1rem;
    background-color: white;
    margin: 0 auto;
    width: 75vw;
    top: 5vh;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.154),
        0px 3px 8px rgba(0, 0, 0, 0.254),
        0px 3px 15px rgba(0, 0, 0, 0.254),
        0px 5px 35px rgba(0, 0, 0, 0.374);
}

.react-calendar__month-view__days {
    font-size: 1rem;
    height: 70vh;
}

.react-calendar__tile--now {
    color: black;
    background: #EDB88B;
}

.react-calendar__tile--now:enabled:hover, 
.react-calendar__tile--now:enabled:focus {
    background: #e6e6e6;
}

.react-calendar__tile--active {
    background-color: #60935D;
}

.react-calendar__tile--active:enabled:hover, 
.react-calendar__tile--active:enabled:focus {
    background-color: #60935D;
}

.close {
    display: none;
}

.react-calendar abbr[title], abbr[data-bs-original-title] {
    text-decoration: none;
    cursor: default;
    text-decoration-skip-ink: none;
}

.react-calendar__month-view__days__day--weekend {
    color: #EDB88B ;
}
/* DESKTOPS */

@media screen and (min-width: 1200px) {
    .calendar {
        color: black;
    }
}

/* TABLETS */

@media screen and (max-width: 1200px) {
    .calendar-container {
        padding-top: 4vh;
    }
    
    .calendar-container h2 {
        margin: -1vh 0 1vh 0;
    }

    .react-calendar {
        padding-top: 2vh;
        width: 100vw;
        font-size: 2.5vh;
    }

    .react-calendar__month-view__days {
        flex-wrap: wrap;
        height: 70vh;
    }
    form input, button {
        min-width: 20px;
        font-size: 2vh;
    }
}

/* LARGE CELLPHONES */

@media screen and (max-width: 600px) {
    .calendar-container {
        padding-top: 0;
    }

    .calendar {
        top: 3vh;
    }

    form, input button {
        min-width: 20px;
    }
}

/* SMALL CELLPHONES */

@media screen and (max-width: 465px) {
    .calendar-container {
        padding-top: 1vh;
    }

    .react-calendar {
        height: 82vh;
        width: 100vw;
    }

    form input, button {
        min-width: 20px;
        height: 8vh;
    }
}