nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: grey;
  text-decoration: none;
}

.MuiBottomNavigationAction-wrapper span:hover{
  color: #2e282a;
}

.MuiBottomNavigationAction-label Mui-selected {
  color: #2e282a;
}


a .MuiBottomNavigationAction-root.Mui-selected:hover {
  color: #2e282a;
  padding-top: 6px;
}

/* changes all links except news on hover */
a span:hover {
  color: #2e282a;
}

.MuiBottomNavigationAction-wrapper:hover {
  color:#2e282a;
}

span .Mui-selected {
  color: white;
}

.Mui-selected:hover {
  color: black;
}
.MuiFab-secondary:hover {
  background-color: #cd5334;
}

@media screen and (min-width: 1200px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100vw;
    top: 2vh;
  }
}

@media screen and (max-width: 1200px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100vw;
    bottom: 2vh;
    font-size: 2vh;
  }
}

@media screen and (max-width: 600px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100vw;
    bottom: 1vh;
  }
}

@media screen and (max-width: 425px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100vw;
    bottom: 2vh;
  }
}
